* , *::after , *::before{
    box-sizing: border-box;
}
body{
    font-family: "Titillium Web", sans-serif;
    
}
body{
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    url("/bg-02.jpg");
  background-size: 200% 200%;
  animation: moveSky 60s linear infinite;
}
a{
    color: inherit;
    text-decoration: none;
}
.content{
    width: 55%;
    margin: auto;
    border: 2px solid #24353F;
}
.content h1{
    color: #17A2B8;
    font-size: 2.5rem;
    font-weight: 500;
}
.form-control{
    background-color: #24353F;
}
.form-control::placeholder {
    color: #ffffff;
    opacity: 0.7; 
}
.form-control:focus {
    background-color: #24353F;
    color: #fff;
    box-shadow: 0 0 0 0 transparent !important;
}
.content .btn{
    border: .125rem solid #17A2B8;
    color: #17A2B8;
    width: 100%;
    margin-block: 1rem;
}
.content .btn:hover{
    background-color: #17A2B8;
    color: #fff;
}
.content p{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}
.content a:hover{
    text-decoration:underline;
}

.title h1{
    color: #17A2B8;
}
.input-group-text {
  background-color: transparent;
  border-left: 0;
  color: #fff;
}

.input-group .form-control {
  border-right: 0;
}
@keyframes moveSky {
  0% {
    background-position: 0% 50%;
  }
  10% {
    background-position: 8% 25%;
  }
  20% {
    background-position: 25% 15%;
  }
  30% {
    background-position: 50% 8%;
  }
  40% {
    background-position: 75% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  60% {
    background-position: 88% 50%;
  }
  70% {
    background-position: 75% 32%;
  }
  80% {
    background-position: 50% 8%;
  }
  90% {
    background-position: 25% 15%;
  }
  100% {
    background-position: 0% 50%;
  }
}
